ion-content{
    --background: url("https://png.pngtree.com/thumb_back/fh260/back_pic/02/50/64/45577e1f4a742b5.jpg");
    --background-repeat: no-repeat;
    --background-size: cover;  
    
    }
    // ion-img{
    //         height:100px;
    //         width: 100px;
    //         margin-left:150px;
    //         margin-top: 50px
    // }

    ion-card{
    
        background:white;
        margin-top: 130px
       
    }


   