<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="color:yellow">Make Payment</ion-title>
    </ion-toolbar>
    </ion-header>
<ion-content>
  <ion-card>
      <ion-item>
          <ion-label position="floating">Card Number</ion-label>
          <ion-icon name="card" slot="start" color="warning"></ion-icon><ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon name="wallet"slot="start" color="warning"></ion-icon> <ion-label position="floating">CVV</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-icon name="calendar"slot="start" color="warning"></ion-icon>
                  <ion-label position="floating">Expiry Date</ion-label>
                  <ion-datetime display-format="MM/YYYY" picker-format="MMMM YYYY"></ion-datetime>
                
            </ion-item><br><br>

      <!-- <ion-img src="https://blog.apruve.com/hubfs/Payment%20Gateway%20Feature-01.png"></ion-img> -->
      <ion-button expand="full" color="warning" (click)="payment()">Make Payment</ion-button><br>
     
      
  </ion-card>
</ion-content>

