<ion-content>
  <ion-card>
    
    <ion-card-content>
      <ion-img src="https://i.pinimg.com/originals/53/c9/28/53c92803ebd4c6fe0f908c6878c1e1da.png" height="100px" width="100px"></ion-img>
      
    Already have an account? &nbsp; <a href="login">Sign In</a><br><br>
    
    <ion-item>
      <ion-icon slot="start"name="person" color="warning"></ion-icon><ion-input type="text" placeholder="Name"[(ngModel)]="customer.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start"name="call" color="warning"></ion-icon><ion-input type="number" placeholder="Mobile No"[(ngModel)]="customer.phone"></ion-input>
    </ion-item>

      <ion-item>
        <ion-icon slot="start"name="mail" color="warning"></ion-icon><ion-input type="text" placeholder="E-Mail"[(ngModel)]="customer.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start"name="lock" color="warning"></ion-icon><ion-input type="password" placeholder="Password"[(ngModel)]="customer.password"></ion-input>
      </ion-item>

      <ion-item>
          <ion-icon slot="start"name="pin" color="warning"></ion-icon><ion-input type="text" placeholder="address"[(ngModel)]="customer.address"></ion-input>
        </ion-item><br>
  

      <ion-button expand="full"color="warning" (click)="login(customer)">Sign Up</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
