ion-content{
    --background: url("https://png.pngtree.com/thumb_back/fh260/back_pic/02/50/64/45577e1f4a742b5.jpg");
    --background-repeat: no-repeat;
    --background-size: cover;  
    
    }

    ion-card
    {
        background: white;
    }